#estimate_picker {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

#estimate_picker .card {
    flex: 1 1 100%;
    padding: 5px;
    max-width: 80px;
    text-align: center;
    transition: 0.3s;
}

#estimate_picker .card.is_checked {
    transform: translateY(-30px);
}

#estimate_picker .card.disabled .card_content {
    opacity: 0.2;
}

#estimate_picker .card .card_content {
    border: 1px solid var(--primary-color);
    height: 112px;
    border-radius: 3px;
    transition: 0.3s;
}

#estimate_picker .card .card_content .card_estimate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#estimate_picker .card .card_content:hover {
    transform: translate3d(0px, -1px, 0px);
    box-shadow: 0px 0px 3px 4px rgba(224,224,224,0.50);
}

#estimate_picker .card .card_content label {
    position: relative;
    width: 100%;
    display: block;
    height: 100%;
    cursor: pointer;
    line-height: 190px;
    font-size: 30px;
    color: var(--primary-color);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#estimate_picker .card.is_checked .card_content label {
    /* color: white; */
}

#estimate_picker .card .card_content label > input {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}